<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-App</title>
    <link rel="Stylesheet" href="../static/styles.css"><link>
</head>
<body>
    <h1>The Chosen One ChatBot</h1>
    <div id="container">
        <div id="chats"></div>

        <div id="form">
        <form action="/submit" method="POST">
            <input type="text" name="user_input" placeholder="Type Something...">
            <button type="submit">Submit</button>
        </form>
        </div>
    </div>

    



    <footer>AI Assistant by "Chaitanya"</footer>
    <script src="../static/main.js"></script>
</body>
</html>